@{
    Layout = null;
}
@model Pharmacy.Models.PharmacyItem

@if (Model != null)
{
    <div class="card service-card">
        <img src="@Model.image" class="card-img-top" alt="@Model.Name">
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">ID: @Model.Id</p>
            <p class="card-text">Price: @Model.price</p>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">Category: @Model.Category</p>
            <p class="card-text">Quantity: @Model.quantity</p>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger text-center">Enter ID you want to search</div>
}

